-var pageTitle = "online TV"

html(lang="en")
  head
    title= pageTitle
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;700;800&display=swap" rel="stylesheet">
    style 
      include styles/css/normalize.css
      include styles/css/style.css
  body
    include modules/header.pug

    .section.section-banner
      img(src="../src/images/banner.png", alt="banner").section-banner__image
      .container
       .banner 
          h1.banner__title Zack Snyder's Justice League
          .banner-info
            span.banner-info__year 2021
            span.banner-info__age 18+
            span.banner-info__time 4h 2min
            span.banner-info__rating 8.8
          p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
          .banner-control
            button.banner-control__btn.banner-control__btn-main Watch
            button.banner-control__btn.banner-control__btn-more More information
    section.section
      .container
        h2.section__h2
          a(href="#").section__h2-link Trending TV Shows
        .moves            
          .moves-item
            a(href="#").moves__link
              img(src="../src/images/posters/poster01.png", alt="").moves__img 
          .moves-item
            a(href="#").moves__link
              img(src="../src/images/posters/poster02.png", alt="").moves__img 
          .moves-item
            a(href="#").moves__link
              img(src="../src/images/posters/poster03.png", alt="").moves__img     
          .moves-item
            a(href="#").moves__link
              img(src="../src/images/posters/poster04.png", alt="").moves__img 
          .moves-item
            a(href="#").moves__link
              img(src="../src/images/posters/poster05.png", alt="").moves__img 
          .moves-item
            a(href="#").moves__link
              img(src="../src/images/posters/poster06.png", alt="").moves__img
  
    include modules/footer.pug   
   
