-var pageTitle = "online TV"

html(lang="en")
  head
    title= pageTitle
    style 
      include styles/css/normalize.css
      include styles/css/style.css
  body
    include modules/header.pug
    include modules/footer.pug
    h1 Pug - node template engine
    