// @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Mulish:wght@400;700;800&display=swap');


$white:#ffffff;
$bg-gradient:linear-gradient(151deg, rgba(50, 108, 255, 1) 0%, rgba(38, 255, 242, 1)100%);
$bg-gradient-safe:rgb(50, 108, 255);
$black:#000000;


html{
  font-size: 10px;
}

body{
  background-color: #000;
  color:#ffffff;
  font-size: 16px;
  font-family:'Marcellus',sans-serif;
  font-family:'Mulish',sans-serif;
}

button{
  &:focus{outline: none;}
}


.container{
  max-width: 144rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;

}
.header{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

.nav{
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  &-item{margin: 0 2.5rem;}
  
  &-link {
    text-decoration: none;
    position: relative;
    font-weight: 600;
    color: rgba($white, 0.5);
    transition: 0.2s ease color;

    &:hover {
      color: rgba($white, 1);
    }
  }

    &::after{
      content:"";
      display: block;
      opacity: 0;
      width: 100%;
      height: .2rem;
      margin-top: .5rem;
      border-radius: 5rem;
      background:$bg-gradient-safe;
      background:$bg-gradient;

    }
   
    &.active{
       color:rgba($white, 1);
       &::after{opacity: 1;
      }
    
  }
}

.control{
  display: flex;
  align-items:center;
  list-style: none;
  padding-left: 0;
  &-item{
    margin-left: 7.5rem;
  }
  &-btn{
    background-color: transparent;
    border: none;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    &_search{
      background-image: url(images/search.svg);
      width: 1.8rem;
      height: 1.8rem;
    }
    &_notice {
      background-image: url(images/notice.svg);
      width: 2.13rem;
      height: 2.35rem;
    }
    &_acount {
      background-image: url(images/acount.svg);
      width: 1.8rem;
      height: 1.92rem;
    }

  }
}

.section-banner{
  border-bottom: .1rem solid #2f2e2e;
  position: relative;
  overflow: hidden;

   &__image {
     position: absolute;
     right: 0;
     z-index: -1;
   }

}

.banner{
  max-width: 56.2rem;
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
  background:$black;
  box-shadow: 100px 0px 100px $black;
  
 
  
  

  &__title{
    font-family:'Marcellus', sans-serif;
    font-size: 8rem;
    line-height: 7.5rem;
  }

  &__text{
    color:#c2c2c2;
    font-size: 1.8rem;
    line-height: 1.5rem;
  }
  &-info {
    margin-bottom: 2.9rem;
    font-weight: 800;
     &__year {
       margin-right: 1.8rem;
       border:2px solid $bg-gradient;
     }
     &__age {
       margin-right: 1.8rem;
       position: relative;
       width: 6rem;
       text-align: center;
       display: inline-block;
       &::before{
        //  outline:2px solid #ffffff;
         content:"";
         display: block;
         height: 2.4rem;
         width: 100%;
         background-image:url(images/age.svg);
         background-repeat: no-repeat;
         background-size: cover;
         position: absolute;
         top: calc(50%-1.2rem);
         left: 0;
         right: 0;
       }
      
      }
     &__time {
       margin-right: 6.1rem;
     }
     &__rating{
       position: relative;
        &::after{
          content:"";
          width: 1.6rem;
          height: 1.6rem;
          display:inline-block;
          background-image: url(images/star.svg);
          position: absolute;
          top:0.1rem;
          left:4.1rem;
         

        }
     }
  }
  
  &-control{
    margin-top: 3.1rem;

    &__btn{
      background: transparent;
      border:none;
      border-radius: 10rem;
      padding: 1.5rem 3rem;
      font-family:'Mulish',sans-serif;
      font-weight: 800;
      cursor: pointer;
      
    }

    &__btn-main {
      background:$bg-gradient-safe;
      background:$bg-gradient;
      color:$white;
      position: relative;
      padding-left: 4rem;
      margin-right: 3rem;
      box-shadow: 0px 4px 50px rgba($bg-gradient-safe, 0.5);
      transition: .2s ease box-shadow;
      &:hover{
        box-shadow: 0px 0px 0px rgba($bg-gradient-safe, 0.5);
      }
      &::after{
        content:"";
        width: 1.4rem;
        height: 1.8rem;
        display: block;
        background-image: url(images/play.svg);
        position: absolute;
        left:1.3rem;
        top:1.7rem;

      }
        }

    &__btn-more{
      background-color:$white;
      color:#323232;
      transition: 0.2s ease background-color,0.2s ease color;
      &:hover{
        color:$white;
        background-color: transparent;
      }

    }
  }
}